#
# $Header: K:/BCT_Development/Taos/tools/config_parse/unit_test/test2/rcs/test2_j.cfg 1.1 2005/01/24 17:24:24Z jl11312 Exp jl11312 $
# $Log: test2_j.cfg $
# Revision 1.1  2005/01/24 17:24:24Z  jl11312
# Initial revision
#
# test2_j - string array parameter validate check fail on read
#
@{class-name Test2_J@}
@{file-name "/taos/file2_j.dat"@}
@{format-version "1"@}
@{data-version "1"@}

[Section1] @{array 1@}
Param1[0]="abc" @{validate return ( value[0] == 'a' );@}
Param2[0]="abc" @{validate return ( value[0] == 'b' );@}

